<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Bienvenido!
    </ion-title>
    <p class="subTitle">Dinos los datos de tu reservacion</p>
  </div>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="name" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Día" class="input"></ion-input>
        <ion-icon name="alert-circle-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Hora" class="input"></ion-input>
        <ion-icon name="alarm-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Número de Personas" class="input"></ion-input>
        <ion-icon name="accessibility-outline"></ion-icon>
      </ion-item>
     
      <div class="signinLink">
       <ion-button> Guardar </ion-button>
      </div>
      <ion-fab vertical="bottom" horizontal="end" style="margin: bottom 30px; ;">
        <ion-fab-button [routerLink]="['/home']">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      

    </div>
  </form>
  
</ion-content>
